@import '../style/colors.scss';

html,
body,
#root {
    font-family: "Saira Extra Condensed", "BenchNine", Arial, Helvetica, sans-serif;
    margin: 10px;
}

.container {
    margin-top: 5vh;
    // background-color: $white;
    border: 1px $grey solid;
    padding: 1rem;
}

.slashContainer {
    border: 1px $grey solid;
    padding: 1rem;
    background: repeating-linear-gradient(30deg, #f5f5f6, #f5f5f6 0.25%, transparent 0.25%, transparent 0.5%);
}

// @media (min-width: 768px) {
//     .container {
//         width: 750px;
//     }
// }

// @media (min-width: 992px) {
//     .container {
//         width: 970px;
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         width: 1170px;
//     }
// }

.default {
    border: 1px $grey solid;
}

.required {
    color: $red;
}

.row {
    // margin-left: -15px;
    // margin-right: -15px;
    display: flex;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row-1 {
    display: block;
    -webkit-box-flex: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.row-2 {
    display: block;
    -webkit-box-flex: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    width: 65vw;
}

.title {
    font-size: 2rem;
    color: $black;
    letter-spacing: 3px;

    h3 {
        margin: 0;
        font-weight: 400;
    }
}

.figure {
    font-size: 6rem;
    letter-spacing: 3px;
    color: $lightGreen;
    text-align: center;
    display: block;
}

.currency {
    font-size: 3rem;
    color: $black;
    letter-spacing: 3px;
    margin-right: 1rem;
    font-weight: bolder;
}

.amount {
    font-size: 3rem;
    color: $figureBlue;
    letter-spacing: 3px;
}